.customer-page{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 100px;

}

.card-holder {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 60vh;
    width: min-content;
}

.customer-card{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 60% 40%;
    width: 75vw;
    justify-content: center;
    justify-items: center;
    align-content: center;
    background-color: #2F2F2F;
    padding: 0px;
    border-radius: 10px;
}

.customer-card:hover{
    background-color: #292929;
    cursor: pointer;
}

.customer-card img{
    height: 100px;
    border-radius: 50%;
    grid-area: 1 1 2 1;
}

.customer-card p{
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-self: center;
    gap: 10px;
    background-color: #2F2F2F;
    padding: 10px;
    border-radius: 5px;
}