.customer-page{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 100px;

}

.card-holder {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 60vh;
    width: min-content;
    padding: 0px 1rem;
}

.customer-card{
    display: grid;
    grid-template-columns: 15% 65% 15%;
    grid-template-rows: 60% 40%;
    width: 75vw;
    justify-content: center;
    justify-items: center;
    align-content: center;
    background-color: #2F2F2F;
    padding: 0px;
    border-radius: 10px;
    padding: 1rem;
}

.customer-card:hover{
    background-color: #292929;
    cursor: pointer;
}

.customer-card img{
    height: 100px;
    border-radius: 50%;
    grid-area: 0 0 2 1;
}

.customer-card .info{
    grid-area: 2 1 2 2;
    justify-self: start;
    padding-left: 20%;
    align-self: center;
}

.customer-card .info p{
    margin: 0;
}

.customer-card .name{
    font-size: 24px;
}

.customer-card .email{
    font-size: 18px;
}

form {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-self: center;
    gap: 10px;
    background-color: #2F2F2F;
    padding: 10px;
    border-radius: 5px;
}

form label {
    display: flex;
    flex-direction: column;
}

.delete {
    height: 3rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-self: center;
    grid-area: 1 / 3 / span 3 / span 1;
}

.delete:hover {
    background-color: rgba(255, 0, 0, 0.7);
    border-color: rgba(255, 255, 255, 0.87);
}